.container-ordenacao {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 56px;
}

.container-ordenacao ul {
  display: flex;
  list-style-type: none;
  gap: 1em;
}
.container-ordenacao ul li {
  color: var(--cinza-medio);
  font-size: 22px;
}
.container-ordenacao ul li.ativo {
  color: var(--verde-destaque);
  text-decoration: underline;
}
