.lista-ordenacao {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2em;
  margin-top: 56px;
  margin-bottom: 32px;
  list-style-type: none;
}

.lista-ordenacao__link {
  color: var(--cinza-medio);
  font-size: 22px;
  text-decoration: none;
  line-height: 33px;
  font-weight: 400;
}

.lista-ordenacao__link--ativo {
  color: var(--verde-destaque);
  font-weight: 600;
  text-decoration: underline;
}
